<h1 class="title">Sobre o Sistema</h1>

<div class="container">
  <div class="first">
    <p>
      Bem-vindo ao nosso sistema de gerenciamento de parceiros e empresas
      externas. Desenvolvido com o intuito de simplificar e otimizar a gestão
      dessas entidades, nossa aplicação oferece uma variedade de funcionalidades
      e recursos para atender às necessidades de negócios modernos. Abaixo estão
      os principais aspectos e características do nosso sistema:
    </p>
  </div>

  <div class="second">
    <h2>Objetivo</h2>

    <p>
      Nosso sistema foi criado com o objetivo de fornecer uma plataforma robusta
      e intuitiva para cadastrar, listar e gerenciar parceiros e empresas
      externas. Com uma interface amigável e recursos avançados, buscamos
      facilitar o processo de administração e colaboração entre essas entidades.
    </p>
  </div>

  <div class="second">
    <h2>Tecnologia Utilizada</h2>

    <p>
      O sistema foi desenvolvido utilizando tecnologias modernas e frameworks
      populares no desenvolvimento web, incluindo Angular para o frontend e
      Node.js para o backend. Utilizamos também o framework Material Design para
      o layout e componentes visuais, garantindo uma experiência consistente
      para os usuários.
    </p>
  </div>

  <div class="third">
    <h2>Funcionalidades Principais</h2>

    <ul class="list">
      <li>
        <strong>Cadastro e Listagem de Parceiros e Empresas Externas:</strong>
        Nossa aplicação permite o cadastro detalhado de parceiros e empresas
        externas, incluindo informações como nome, descrição, repositório GIT,
        URL de documentação, entre outros.
      </li>
      <li>
        <strong>Gerenciamento de Registros:</strong> Além do cadastro,
        oferecemos funcionalidades completas de gerenciamento, incluindo a
        listagem de todos os registros, paginação para facilitar a navegação e
        ações para editar e excluir registros individualmente.
      </li>
      <li>
        <strong>Autenticação e Manutenção de Sessão:</strong> Implementamos um
        sistema de autenticação básico que permite aos usuários acessar o
        sistema através de um formulário de login. Além disso, oferecemos a
        opção de "manter conectado", que armazena informações do usuário
        localmente para facilitar o acesso futuro.
      </li>
      <li>
        <strong>Compartilhamento de Dados:</strong> Para melhorar a experiência
        do usuário, implementamos um mecanismo de compartilhamento de links que
        preserva o estado da página, incluindo a paginação, ao compartilhar o
        link com outros usuários.
      </li>
      <li>
        <strong>Integração com API:</strong>Nosso sistema se integra
        perfeitamente com uma API para persistência dos dados, garantindo
        segurança e confiabilidade na manipulação e armazenamento das
        informações.
      </li>
    </ul>
  </div>
</div>
