<mat-card-content class="container">
  <mat-card class="card-login">
    <mat-card-title>Login</mat-card-title>
    <span>Insira suas credenciais</span>
    <form [formGroup]="formLogin" (ngSubmit)="logar()" novalidate>
      <mat-card-content class="conteudo-login">
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. nome@example.com"
          />
          <mat-error
            *ngIf="
              formLogin.get('email')?.hasError('email') &&
              formLogin.get('email')?.touched
            "
          >
            Por favor, insira um email válido
          </mat-error>
          <mat-error
            *ngIf="
              formLogin.get('email')?.hasError('required') &&
              formLogin.get('email')?.touched
            "
          >
            Email é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="senha" />
          <mat-error
            *ngIf="
              formLogin.get('senha')?.hasError('required') &&
              formLogin.get('senha')?.touched
            "
          >
            Senha é <strong>obrigatória</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <div class="checkbox">
        <input type="checkbox" formControlName="manterConectado" />
        <label>Manter conectado</label>
      </div>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit">Entrar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</mat-card-content>
